.heavy {
    font-weight: bolder;
}


.alignRight {
    text-align:right;
    font-size: 40px;
}

.header {
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: gray;
    /* height: 50px;
    margin-bottom: 50px; */

}

.red {
    background-color: red;
}